/**
* BLOG-LIST
**/

.blog-list {

    > li {
        display: flex;
        flex-direction: column;
        
        > div {
            margin-top: auto;
        }
    }

    &__title {
        @include font-style--heading-4;
        color: $c-black;
        display: block;
        text-decoration: none;
        margin-bottom: $l-spacing--tiny;
    }
}