/**
* BUTTON
**/

button, .button {
    @include font-style--body-1;
    font-weight: 700;
    background-color: $c-primary;
    color: $c-secondary;
    display: inline-block;
    text-decoration: none;
    padding: rem-calc(10 20);
    transition: all .2s cubic-bezier(0.215, 0.610, 0.355, 1);
    border-radius: rem-calc(5);

    &:hover {
        color: $c-secondary;
        transform: translate(-2px, -2px);
        box-shadow: 5px 5px 0px 0px rgba($c-primary, 0.5),
        10px 10px 0px 0px rgba($c-black, 0.8);
    }

    &[data-variation="hollow"] {
        background-color: transparent;
        border: rem-calc(1) solid $c-primary;
        color: $c-primary;
    }

    &[data-variation="inline"] {
        background-color: transparent;
        color: $c-primary;
        text-decoration: underline;
        padding: 0;
    }

    & + button, & + .button {
        margin-left: $l-spacing--small;
    }
}