/**
* COLUMNS
**/

.columns {
    display: flex;
    flex-direction: column;
    gap: $l-spacing--large;

    @media (min-width: $b-medium) {
        flex-direction: row;
    }

    .column {
        width: 50%;
    }
}