/**
* FORM
**/

form {


    label, input, textarea {
        display: block;
        margin-bottom: rem-calc(5);
        width: 100%;
    }

    input, textarea {
        @include font-style--body-1;
        padding: rem-calc(10);
        border-radius: rem-calc(5);

        &:invalid {
            border-color: red;
        }
    }
}