/**
* HEADER
**/

header {
    @include width-and-padding;
    align-items: center;
    background: rgba(10, 34, 57, .8);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    padding-bottom: $l-spacing--small;
    padding-top: $l-spacing--small;
    position: sticky;
    top: 0;
    z-index: 2;

    @media (min-width: $b-large) { 
        padding-bottom: $l-spacing--large;
        padding-top: $l-spacing--large;
        position: relative;
        top: unset;
    }

    .site-logo {
        margin-right: $l-spacing--small;
        
        @media (min-width: $b-medium) {
            margin-right: 0;
        }

        a {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        img {
            height: rem-calc(40);
            width: rem-calc(40);
            
            @media (min-width: $b-medium) {
                height: rem-calc(80);
                width: rem-calc(80);
            }
        }
    }

    .menu-open & {
        backdrop-filter: unset;

        .site-logo {
            z-index: 3;
        }
    }
}