/**
* HEADER
**/

header {
    @include width-and-padding;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: $l-spacing--large;
    padding-bottom: $l-spacing--large;

    .site-logo {
        margin-right: $l-spacing--small;
        
        @media (min-width: $b-medium) {
            margin-right: 0;
        }

        img {
            width: rem-calc(40);
            height: rem-calc(40);

            @media (min-width: $b-medium) {
                width: rem-calc(80);
                height: rem-calc(80);
            }
        }
    }
}