/**
* MAIN
**/

main {
    @include width-and-padding;
    position: relative;

    img {
        transform: rotate(5deg);
        border-radius: rem-calc(5);
        height: auto;
        max-width: 100%;
        position: relative;
    }
}