/**
* NAV
**/

nav {
    @include font-style--body-2;

    ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
    }

    li {
        margin: rem-calc(5 10);

        @media (min-width: $b-medium) {
            margin: rem-calc(10);
        }
    }

    a {
        color: $c-white;
        transition: all .2s cubic-bezier(0.215, 0.610, 0.355, 1);

        &:hover {
            color: $c-primary;
        }
    }
}