/**
* NAV
**/

nav {
    @include font-style--body-2;
    display: none;

    @media (min-width: $b-medium) {
        display: block;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        list-style: none;
        padding: 0;
    }

    li {
        margin: rem-calc(5 10);

        @media (min-width: $b-medium) {
            margin: rem-calc(10);
        }
    }

    a {
        color: $c-white;
        transition: all .2s cubic-bezier(0.215, 0.610, 0.355, 1);

        &:hover {
            color: $c-primary;
        }
    }

    .button {
        display: block;
    }

    .menu-open & {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100vh;
        background: rgba(10,34,57,.8);
        backdrop-filter: blur(5px);

        ul {
            justify-content: center;
            align-items: center;
            margin-top: rem-calc(100);
            padding-right: $l-spacing--small;
            padding-left: $l-spacing--small;

            li {
                width: 100%;
                margin-left: 0;
                margin-right: 0;
            }
        }
    }
}