/**
* SOCIALS
**/

.socials {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: $l-spacing--large 0;
    
    @media (min-width: $b-xlarge) {
        flex-direction: column;
        left: 2%;
        position: fixed;
        top: 25%;
    }

    img {
        border-radius: 0;
        box-shadow: none;
        transform: unset;
    }

    li {
        margin: 0 $l-spacing--small;
        opacity: 0.9;
        transition: all .2s cubic-bezier(0.215, 0.610, 0.355, 1);

        &:not(last-child) {

            @media (min-width: $b-medium) {
                margin-bottom: $l-spacing--small;
            }
        }

        &:hover {
            opacity: 1;
            transform: rotate(15deg) scale(1.1);
        }

        a {
            align-items: center;
            display: flex;
            justify-content: center;
        }
    }
}