<footer class="site-footer">
    <div class="site-footer__columns container-wide">
        <div class="site-footer__column">
            {% include 'site-logo.njk' %}

            {% include 'social-links.njk' %}
        </div>

        <div class="site-footer__column">
            <h4>Quick Links</h4>
            {% include 'footer-navigation.njk' %}
        </div>

        <div class="site-footer__column">
            <div class="">
                <h4>Get in touch?</h4>
                <p>Want to get in touch with me? Use the button below.</p>
            </div>

            <p>
                <a href="/get-in-touch/" class="button">Get in touch</a>
            </p>
        </div>
    </div>

    <div class="site-footer__bottom container-wide">
        <p>&copy; 2026 Daniel Hudson.</p>
    </div>
</footer>
