<header class="site-header">
    <div class="site-header__inner container-wide">
        <div class="site-logo">
            <a href="/">
                <img src="/assets/images/logo.svg" width="80" height="80" alt="Daniel Hudson Website Logo" />
            </a>
        </div>

        {% include 'site-navigation.njk' %}
    </div>
</header>
