<header class="site-header">
    <div class="site-header__inner container-wide">
        {% include 'site-logo.njk' %}

        {% include 'site-navigation.njk' %}

        {% include 'theme-toggle.njk' %}
    </div>
</header>
