<ul class="social-links">
    {% for socialLink in socialLinks %}
        <li class="social-links__item">
            <a
                href="{{socialLink.link}}"
                title="{{socialLink.title}}"
                rel="{{socialLink.rel}}"
                class="social-links__link"
            >
                {% if socialLink.platform == "twitter" %}
                    {% include './svgs/twitter.njk' %}
                {% endif %}

                {% if socialLink.platform == "linkedin" %}
                    {% include './svgs/linkedin.njk' %}
                {% endif %}

                {% if socialLink.platform == "github" %}
                    {% include './svgs/github.njk' %}
                {% endif %}

                {% if socialLink.platform == "rss" %}
                    {% include './svgs/rss.njk' %}
                {% endif %}
            </a>
        </li>
    {% endfor %}
</ul>
