<!DOCTYPE html>
<html lang="en">

	<head>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title }}</title>
		<link rel="stylesheet" href="/styles/styles.css" />

	</head>

	<body>

		<header role="banner" class="site-header">

			<div class="site-logo"><img src="/assets/images/logo.svg" width="80" height="80" alt="Daniel Hudson Website Logo" /></div>

			<nav class="site-nav">

				<ul>
					<li><a href="/about">About</a></li>
					<li><a href="/experience">Experience</a></li>
					<li><a href="/blog">Blog</a></li>
					<li><a href="/work">Work</a></li>
				<ul>

			</nav>
			
		</header>

		<main>
			{{ content | safe }}

			<ul class="socials">

				<li><a href="https://twitter.com/DanielHudsonDev" title="Twitter"><img src="/assets/images/twitter.svg" width="20" height="20" alt="Twitter Logo" /></a></li>
				<li><a href="https://twitter.com/DanielHudsonDev" title="Linkedin"><img src="/assets/images/linkedin.svg" width="20" height="20" alt="Linkedin Logo" /></a></li>
				<li><a href="https://twitter.com/DanielHudsonDev" title="Github"><img src="/assets/images/github.svg" width="20" height="20" alt="Github Logo" /></a></li>
				<li><a href="https://twitter.com/DanielHudsonDev" title="Codepen"><img src="/assets/images/codepen.svg" width="20" height="20" alt="Codepen Logo" /></a></li>

			</ul>
		</main>

		<footer>

			<section data-variation="center">

				<div class="cta">

					<h2>Want to find out how i can help you?</h2>

					<p>My inbox is always open if you’re in need of some help and advice, i’ll always try to get back to you.</p>

					<p><a class="button" data-variation="hollow">Get in touch</a></p>

				</div>

			</section>

			<section>
				<p data-variation="tiny">Designed and Developed by Daniel Hudson</p>
			</section>

		</footer>
		
	</body>

</html>