---
tags: post
layout: base.njk
description: There is meant to be a description here, but oops I forgot to do it, let me know if you want or not the choice is yours.
---
<article class="[ container ] [ long-text ]">
    <h1>{{ title }}</h1>
    <time datetime="{{ date }}">{{ postDate }}</time>
    {{ content | safe}}
</article>