/**
* BASE
**/

body {

    margin: 0;

    &.menu-open {
        height: 100vh;
        overflow: hidden;
    }
}

p {
    margin-bottom: $l-spacing--small;

    &[data-variation="tiny"] {
        @include font-style--tiny;
    }
}

a {
    color: $c-white;
}

*[data-color="primary"] {
    color: $c-primary;
}

.text-align {
    text-align: left;

    &--right {
        text-align: right;
    }

    &--center {
        text-align: center;
    }
}

.container {
    @include width-and-padding;
}

time {
    display: block;
    font-style: italic;
    margin-bottom: $l-spacing--small;
}

iframe {
    margin-bottom: $l-spacing--small;
}

pre {
    background-color: $c-black;
    border-radius: rem-calc(10);
    padding: $l-spacing--small;
    color: $c-primary;
}

.long-text > * {
    max-width: 60ch;
}

.mobile {

    @media (min-width: $b-medium) {
        display: none;
    }
}
