---
title: Jamstack development 
description: Jamstack Development Services in Gloucestershire.
shortDescription: Jamstack delivers secure, fast and scalable websites running on minimal hosting.
layout: base.njk
---

<h1 data-variation="hero">Jamstack development</h1>
<p>{{ shortDescription }}</p>
<h2>Static-first development</h2>
<p>Jamstack essentially means a static-first site build, the site won't be connected with a traditional CMS or a database.</p>
<p>What this means is that the pages are already put together content and all, this results in faster load times because time doesn't need to be taken to query a database or put various templates together like a traditional CMS.</p>

<h2>Where Jamstack comes in</h2>
<p>Traditionally the issue here would have been managing a static website, lots of parts get repeated across files and it gets hard to maintain, Jamstack solves this by introducing static site generators.</p>
<p>A static site generator allows you to break the site into templates and it will then compile it into a static website thats ready to go onto your server.</p>
<p>I use Eleventy and Netlify to achieve this as the two work together seamlessly.</p>

<h2>Managing content</h2>
<p>While this sounds like you won't be able to manage your content properly this is not the case.</p>
<p>You can link the site up to a new kind of CMS which still lets you edit and write content for the site, one such example is Decap CMS (formerlly Netlify CMS).</p>