button, .button {
    background: transparent;
    border: 2px solid var(--global--color--brand);
    color: var(--global--color--brand);
    cursor: pointer;
    display: inline-block;
    font-family: var(--global--font-family--primary);
    font-size: var(--global--font-size--md);
    overflow: hidden;
    padding-block: var(--global--spacing--xs);
    padding-inline: var(--global--spacing--md);
    position: relative;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .5s cubic-bezier(0.215, 0.610, 0.355, 1);

    &::after {
        background-color: var(--global--color--brand);
        bottom: 0;
        content: "";
        display: block;
        height: 0;
        left: 0;
        position: absolute;
        right: 0;
        transition: height var(--global--transition--duration--normal) cubic-bezier(0.215, 0.610, 0.355, 1);
        z-index: -1;
    }

    & + button, & + .button {
        margin-left: var(--global--spacing--md);
    }

    &:hover {
        color: var(--global--color--primitive--secondary--500);

        &::after {
            height: 100%;
        }
    }

    &[data-variation="underline"] {
        border: none;
        color: var(--global--color--brand);
        font-size: var(--global--font-size--sm);
        padding: unset;
        text-decoration: underline;

        &:hover {
            color: var(--global--color--brand);
            text-decoration: none;
        }

        &::after {
            display: none;
        }
    }
}
