.decorated-image {
    --decoration-spacing: var(--global--spacing--2-xl);

    padding-top: var(--decoration-spacing);
    padding-right: var(--decoration-spacing);
    position: sticky;
    top: var(--decoration-spacing);

    &::after {
        content: "";
        display: block;
        width: calc(100% - var(--decoration-spacing));
        height: calc(100% - var(--decoration-spacing));
        position: absolute;
        top: 0;
        left: var(--decoration-spacing);
        border: 2px solid var(--global--color--brand);
    }

    img {
        position: relative;
        z-index: 5;
    }
}
