/**
* FEATURE-GRID
**/

.feature-grid {

    .feature {
        position: relative;
        background-color: rgba($c-white, 0.8);
        border-radius: rem-calc(10);
        padding: $l-spacing--small;
        color: $c-secondary;
        border: 2px solid $c-grey;

        a:not(button):not(.button) {
            color: $c-secondary;
            text-decoration: none;
        } 
    }
}