.site-navigation {
    backdrop-filter: blur(5px);
    height: 100%;
    left: 0;
    opacity: 0;
    padding-bottom: var(--global--layout--edge);
    padding-inline: var(--global--layout--edge);
    padding-top: var(--global--spacing--8-xl);
    position: fixed;
    top: 0;
    transform: translate(100%, -100%);
    transition: transform var(--global--transition--duration--quick) cubic-bezier(0.215, 0.610, 0.355, 1), opacity var(--global--transition--duration--normal) cubic-bezier(0.215, 0.610, 0.355, 1);
    width: 100%;

    @media (min-width: 1024px) {
        backdrop-filter: unset;
        height: auto;
        left: unset;
        opacity: 1;
        padding-inline: unset;
        padding-top: unset;
        position: static;
        top: unset;
        transform: unset;
        transition: unset;
        width: auto;
    }

    .menu-open & {
        opacity: 1;
        transform: translate(0);
    }

    &::after {
        background-color: var(--global--color--base);
        content: '';
        display: block;
        height: 100%;
        left: 0;
        opacity: 0.9;
        position: absolute;
        top: 0;
        width: 100%;

        @media (min-width: 1024px) {
            display: none;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: var(--global--spacing--xl);
        height: 100%;
        overflow-y: auto;
        position: relative;
        z-index: 3;

        @media (min-width: 1024px) {
            align-items: center;
            flex-direction: row;
            overflow-y: unset;
            height: auto;
        }
    }

    &__link {
        color: var(--global--color--contrast);
        padding-block: var(--global--spacing--sm);
        position: relative;
        text-decoration: none;

        &::after {
            background-color: var(--global--color--contrast);
            bottom: 0;
            content: "";
            display: block;
            height: 2px;
            left: 0;
            position: absolute;
            transform: scaleX(0);
            transform-origin: center;
            transition: transform var(--global--transition--duration--normal) cubic-bezier(0.215, 0.610, 0.355, 1);
            width: 100%;
        }

        &:hover::after {
            transform: scaleX(1);
        }
    }

    &__toggle {
        --toggle-icon-size: 24px;
        --toggle-icon-color: var(--global--color--contrast);
        --toggle-icon-line-height: 2px;
        --toggle-icon-line-radius: 10px;

        appearance: none;
        background: transparent;
        border: none;
        cursor: pointer;
        display: block;
        height: var(--toggle-icon-size);
        padding: 0;
        z-index: 3;

        @media (min-width: 1024px) {
            display: none;
        }

        &::after {
            display: none;
        }
    }

    &__toggle-icon {
        display: block;
        width: var(--toggle-icon-size);
        height: var(--toggle-icon-line-height);
        cursor: pointer;
        position: relative;
        background-color: var(--toggle-icon-color);
        border-radius: var(--toggle-icon-line-radius);
        transition: background-color var(--global--transition--duration--normal) cubic-bezier(0.215, 0.610, 0.355, 1);

        &::before, &::after {
            content: "";
            height: var(--toggle-icon-line-height);
            width: 100%;
            display: block;
            background-color: var(--toggle-icon-color);
            position: absolute;
            border-radius: var(--toggle-icon-line-radius);
            transition: transform var(--global--transition--duration--normal) cubic-bezier(0.215, 0.610, 0.355, 1);
        }

        &::before {
            top: 8px;
        }

        &::after {
            bottom: 8px;
        }

        .active & {
            background-color: transparent;

            &::after {
                top: 0;
                transform: rotate(-45deg);
            }

            &::before {
                top: 0;
                transform: rotate(45deg);
            }
        }
    }
}
