.site-logo {
    --logo-size: 40px;

    z-index: 3;

    @media (min-width: 1024px) {
        --logo-size: 80px;
    }

    svg {
        fill: none;

        path[stroke-width='4'] {
            stroke: var(--global--color--brand);
        }

        path:not([stroke-width='4']) {
            fill: var(--global--color--brand);
        }
    }

    a, img {
        display: block;
    }

    img {
        height: var(--logo-size);
        width: var(--logo-size);
    }
}
