.container {
    max-width: var(--global--layout--normal);
    margin-inline: auto;
    padding-inline: var(--global--layout--edge);
}

.container-wide {
    max-width: var(--global--layout--wide);
    margin-inline: auto;
    padding-inline: var(--global--layout--edge);
}

.container-full {
    padding-inline: var(--global--layout--edge);
}
