/**
* BASE
**/

body {
    @include font-style--body-1;
    background-color: $c-secondary;
    color: $c-white;
    margin: 0;
}

h1, .h1 {
    @include font-style--heading-1;
    margin-bottom: $l-spacing--small;

    &[data-variation="hero"] {
        @include font-style--hero;
    }
}

h2, .h2 {
    @include font-style--heading-2;
    margin-bottom: $l-spacing--small;
}

h3, .h3 {
    @include font-style--heading-3;
    margin-bottom: $l-spacing--small;
}

h4, .h4 {
    @include font-style--heading-4;
    margin-bottom: $l-spacing--small;
}

h5, .h5 {
    @include font-style--heading-5;
    margin-bottom: $l-spacing--small;
}

h6, .h6 {
    @include font-style--heading-6;
    margin-bottom: $l-spacing--small;
}

p {
    margin-bottom: $l-spacing--small;

    &[data-variation="tiny"] {
        @include font-style--tiny;
    }
}

a {
    color: $c-white;
}

*[data-color="primary"] {
    color: $c-primary;
}

.text-align {
    text-align: left;

    &--right {
        text-align: right;
    }

    &--center {
        text-align: center;
    }
}

time {
    display: block;
    font-style: italic;
    margin-bottom: $l-spacing--small;
}

iframe {
    margin-bottom: $l-spacing--small;
}

pre {
    background-color: $c-secondary;
    border-radius: rem-calc(5);
    padding: $l-spacing--small;
    color: $c-primary;
}