/**
* VARIABLES
**/

/* colors */
$c-primary: #33CC99;
$c-secondary: #0A2239;
$c-grey: #AEAEAE;
$c-white: #EDEDED;
$c-black: #0E0E0E;
$c-blue: #00d4ff;

/* gradients */
$g-standard: linear-gradient(111deg, $c-primary, $c-blue);
$g-alt: linear-gradient(111deg, $c-blue, $c-primary);

/* fonts */
$f-body: 'Inter', sans-serif;
$f-heading: 'IBM Plex Serif', serif;

/* layout */
$l-header-width: rem-calc(1340);
$l-page-width: rem-calc(1080);
$l-spacing--small: rem-calc(20);
$l-spacing--tiny: rem-calc(10);
$l-spacing--large: rem-calc(40);

/* breakpoints */
$b-medium: rem-calc(768);
$b-large: rem-calc(1000);