
@mixin heading-base {
	color: var(--global--color--contrast);
	font-family: var(--global--font-family--secondary);
	font-weight: var(--global--typography--font-weight--heading);
	letter-spacing: var(--global--typography--letter-spacing--normal);
	text-wrap: balance;
}

@mixin heading($size) {
    @if $size == "hero" {
        font-size: var(--global--font-size--5-xl);
		line-height: var(--global--typography--line-height--tight);
    }

	@if $size == "h1" {
		font-size: var(--global--font-size--3-xl);
		line-height: var(--global--typography--line-height--tight);
	}

	@if $size == "h2" {
		font-size: var(--global--font-size--2-xl);
		line-height: var(--global--typography--line-height--tight);
	}

	@if $size == "h3" {
		font-size: var(--global--font-size--xl);
		line-height: var(--global--typography--line-height--tight);
	}

	@if $size == "h4" {
		font-size: var(--global--font-size--lg);
		line-height: var(--global--typography--line-height--tight);
	}

	@if $size == "h5" {
		font-size: var(--global--font-size--md);
		line-height: var(--global--typography--line-height--tight);
	}

	@if $size == "h6" {
		font-size: var(--global--font-size--sm);
		line-height: var(--global--typography--line-height--tight);
	}
}
