/**
* FONT-STYLES
**/

@mixin font-style--hero {
    font-family: $f-heading;
    font-size: clamp(2.25rem, 0.9559rem + 6.4706vw, 5rem);
    font-weight: 400;
    line-height: 1.1;
}

@mixin font-style--body-1 {
    font-family: $f-body;
    font-size: rem-calc(20);
    font-weight: 400;
    line-height: 1.5;
}

@mixin font-style--body-2 {
    font-family: $f-body;
    font-size: rem-calc(16);
    font-weight: 400;
    line-height: 1.5;
}

@mixin font-style--tiny {
    font-family: $f-body;
    font-size: rem-calc(12);
    font-style: italic;
    font-weight: 400;
    line-height: 1.5;
}
