---
title: About Me
description: About me, i'm a web developer based in Gloucestershire.
layout: base.njk
---

<div class="container-wide">
    <div class="group">
        <div class="columns">
            <div class="column">
                <h1>About <span data-color="brand" data-style="italic">Me</span></h1>
                <p>I'm a highly experienced web developer with over a decade in the industry, i'm an expert in React, PHP, WordPress and many more including the entire front end stack.</p>
                <p>I specialize in building high-performance, scalable websites. Skilled in developing custom plugins, optimizing website performance, and integrating APIs to enhance functionality. Proficient in modern front-end and back-end technologies, ensuring responsive and accessible web solutions. Passionate about continuous learning and leveraging the latest tools to deliver top-tier digital experiences.
                <h3>My Skills</h3>
                <h4>Front End Development</h4>
                <ul>
                    <li>React</li>
                    <li>React Native</li>
                    <li>JavaScript</li>
                    <li>TypeScript</li>
                    <li>Redux</li>
                    <li>Zustand</li>
                    <li>API Integration</li>
                    <li>CSS</li>
                    <li>Sass</li>
                    <li>HTML</li>
                    <li>Liquid (Shopify)</li>
                    <li>AngularJS</li>
                </ul>

                <h4>Back End Development</h4>
                <ul>
                    <li>PHP</li>
                    <li>Writing APIs</li>
                </ul>

                <h4>Platforms</h4>
                <ul>
                    <li>WordPress</li>
                    <li>WooCommerce</li>
                    <li>Shopify</li>
                    <li>Eleventy</li>
                </ul>

                <h4>Development Tools</h4>
                <ul>
                    <li>Git (GitHub, Gitlab, Bitbucket, Azure DevOps)</li>
                    <li>Webpack</li>
                    <li>Vite</li>
                    <li>GulpJS</li>
                    <li>WordPress Scripts</li>
                </ul>
            </div>

            <div class="column">
                <div class="decorated-image">
                    <picture>
                        <source srcset="/assets/images/daniel-hudson-front-end-developer.webp" type="image/webp" />
                        <img src="/assets/images/daniel-hudson-front-end-developer.jpg" width="837" height="837" alt="Web Developer Daniel Hudson" />
                    </picture>
                </div>
            </div>
        </div>
    </div>
</div>
