---
title: About Me | Daniel Hudson
description: About me, i'm a web developer based in Gloucestershire who specialises in front end development.
layout: base.njk
---

<h1>About Me</h1>

<div class="columns" data-variation="col-50">

    <div class="column">

        <p>I'm a Web Developer specialising in Front-End development who loves creating websites that are both beautiful and easy to use.</p>
        <p>I know my way around HTML, CSS, JavaScript, Angular, and a bunch of other front-end tools and frameworks.</p>
        <p>I'm a pro at making sure websites look great on any device, and I always keep accessibility in mind.</p>
        <p>I'm always on the lookout for new things to learn and stay up-to-date with the latest web development trends. With an eye for detail and a passion for delivering top-notch websites.</p>

    </div>

    <div class="column text-align--right">

        <img src="/assets/images/daniel-hudson.jpg" width="400" height="400" alt="Web Developer Daniel Hudson" />

    </div>

</div>