---
title: Blog 
description: My blog where I ramble on about things that hopefully make some kind of sense.
layout: base.njk
---

<h1>Blog</h1>
<p>View the latest from my blog below:</p>

<ul class="blog-list grid">
    {%- for post in collections.post | reverse -%}
        <li class="post">
            <a class="blog-list__title" href="{{ post.url }}">{{ post.data.title }}</a>
            <time datetime="{{ post.data.date }}">{{ post.data.postDate }}</time>
            <p>{{ post.data.description }}</p>
            <div>
                <a class="button" data-variation="primary" href="{{ post.url }}">Read more</a>
            </div>
        </li>
    {%- endfor -%}
</ul>