---
title: Blog 
description: My blog where I ramble on about things that hopefully make some kind of sense.
layout: base.njk
---

<div class="container">

    <h1 data-variation="hero">Blog</h1>
    <p>View the latest from my blog below:</p>

    <div class="[ feature-grid ] [ grid ]" role="list">

        {%- for post in collections.post | reverse -%}

            <div class="feature">

                <h3><a href="{{ post.url }}">{{ post.data.title }}</a></h3>

                <time datetime="{{ post.data.date }}">{{ post.data.postDate }}</time>

                <p>{{ post.data.shortDescription }}</p>

                <div>
                    <a class="button" data-variation="primary" href="{{ post.url }}">Read more</a>
                </div>
            </div>

        {%- endfor -%}
    </div>

</div>