---
title: Get In Touch  | Web Developer
description: Find contact details to get in touch with Gloucester web developer Daniel Hudson
layout: base.njk
---
<div class="container">
    <div class="group">
        <h1>Get In Touch</h1>
        <p>You can get in touch via socials or this form.</p>
        <p>I'll get back to you as soon as I can.</p>

        <form
            name="get-in-touch"
            method="POST"
            data-netlify="true"
        >
            <p>
                <label for="name">Name</label>
                <input
                    id="name"
                    type="text"
                    name="name"
                    class="focus-ring"
                />
            </p>

            <p>
                <label for="contact-email">Contact Email <small>(required)</small></label>
                <input
                    id="contact-email"
                    type="email"
                    name="contact-email"
                    class="focus-ring"
                    required
                />
            </p>

            <p>
                <label for="message">Message</label>
                <textarea
                    id="message"
                    name="message"
                    class="focus-ring"
                ></textarea>
            </p>

            <p>
                <button type="submit">Get in touch</button>
            </p>
        </form>
    </div>
</div>
