---
title: Home
description: My name is Daniel Hudson, I am a web developer based in the Gloucester and Cheltenham area.
layout: base.njk
---

<div class="container-wide">
    <div class="group">
        <p data-color="brand">Hello there, i'm</p>
        <h1 data-variation="hero">
            Daniel Hudson
            <br />
            I'm a
            <span data-color="brand" data-style="italic">Web Developer</span>
        </h1>
        <p class="width-contained">I'm a highly experienced Web Developer with expertise in React, PHP, and WordPress, specializing in building high-performance, scalable websites. Skilled in developing custom plugins, optimizing website performance, and integrating APIs to enhance functionality.</p>
        <p class="width-contained">Proficient in modern front-end and back-end technologies, ensuring responsive and accessible web solutions. Passionate about continuous learning and leveraging the latest tools to deliver top-tier digital experiences.</p>
        <p><a class="button" href="/about-me/">About me</a><a class="button" href="/blog/">Blog</a></p>
    </div>

    <div class="group">
        <div class="columns">
            <div class="column">
                {% include 'featured-blog-posts.njk' %}
            </div>

            <div class="column">
                <div class="decorated-image">
                    <picture>
                        <source srcset="/assets/images/daniel-hudson-front-end-developer.webp" type="image/webp" />
                        <img src="/assets/images/daniel-hudson-front-end-developer.jpg" width="837" height="837" alt="Web Developer Daniel Hudson" />
                    </picture>
                </div>
            </div>
        </div>
    </div>
</div>
