---
title: Home | Daniel Hudson Web Developer
description: My name is Daniel Hudson, i'm web developer specialising in front end development based in Gloucestershire.
layout: base.njk
---

<p data-color="primary">Hello there, i'm</p>
<h1 data-variation="hero">Daniel Hudson <br />I'm a <span data-color="primary">Web Developer</span></h1>

<div class="columns" data-variation="col-50">

    <div class="column">

        <p>I specialise in front end development, right now i’m working at Factory Pattern in Cheltenham helping bring designs to life to create beautiful digital experiences.</p>

        <p><a class="button" href="/about-me">About me</a><a class="button" href="/blog">Blog</a></p>

        <h2 class="h3">Latest from my blog</h2>
        <ul>
            {% set homeblogposts = collections.post | limit(5) %}
            {%- for post in homeblogposts -%}
            <li>
                <a href="{{ post.url }}">{{ post.data.title }}</a>
                <time datetime="{{ post.data.dateTime }}">{{ post.data.postDate }}</time>
            </li>
            {%- endfor -%}
        </ul>
        <p><a class="button" data-variation="inline" href="/blog">View all posts</a></p>

    </div>

    <div class="column text-align--center">

        <img src="/assets/images/daniel-hudson.jpg" width="400" height="400" alt="Web Developer Daniel Hudson" />

    </div>

</div>