---
title: Services 
description: Web Development Services in Gloucestershire.
layout: base.njk
---

<div class="container">

    <h1 data-variation="hero">Services</h1>
    <p>I can provide a number of web development services, find out more below.</p>

    <div class="[ feature-grid ] [ grid ]" role="list">

        {% for page in collections.servicesPages %}

            <div class="feature">

                <h3><a href="{{ page.url }}">{{ page.data.title }}</a></h3>

                <p>{{ page.data.shortDescription }}</p>

                <div>
                    <a class="button" data-variation="primary" href="{{ page.url }}">Read more</a>
                </div>

            </div>

        {% endfor %}

    </div>

</div>