<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title }} | {{site.name}}</title>
		<meta name="author" content="{{ site.authorName }}">
		<meta name="description" content="{{ description }}">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="stylesheet" href="/css/app.css" />
		<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
		<link rel="manifest" href="/assets/favicon/site.webmanifest">
		<link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg" color="#0a2239">
		<meta name="msapplication-TileColor" content="#0a2239">
		<meta name="theme-color" content="#0a2239">
	</head>

	<body>
        {% include 'site-header.njk' %}

		<main class="site-content">
			{{ content | safe }}

			<ul class="socials">
				<li><a href="https://twitter.com/DanielHudsonDev" target="_blank" rel="nofollow noopener noreferrer" title="Twitter"><img src="/assets/images/twitter.svg" width="20" height="20" alt="Twitter Logo" /></a></li>
				<li><a href="https://www.linkedin.com/in/danielchudson/" target="_blank" rel="nofollow noopener noreferrer" title="Linkedin"><img src="/assets/images/linkedin.svg" width="20" height="20" alt="Linkedin Logo" /></a></li>
				<li><a href="https://github.com/DanielHudson2" target="_blank" rel="nofollow noopener noreferrer" title="Github"><img src="/assets/images/github.svg" width="20" height="20" alt="Github Logo" /></a></li>
				<li><a href="https://codepen.io/DanielHudsonDev" target="_blank" rel="nofollow noopener noreferrer" title="Codepen"><img src="/assets/images/codepen.svg" width="20" height="20" alt="Codepen Logo" /></a></li>
				<li><a href="/feed.xml" target="_blank" title="RSS Feed"><img src="/assets/images/rss.svg" width="20" height="20" alt="RSS Logo" /></a></li>
			</ul>
		</main>

		<footer class="site-footer">
			{%- if page.url !== '/get-in-touch/' -%}
                <section data-variation="center">
                    <div class="cta">
                        <h3 class="h2">Lets work together</h3>
                        <p>Got a project in mind? Get in touch to find out how I can help you make it a reality.</p>
                        <p>
                            <a href="/get-in-touch/" class="button" data-variation="hollow-dark">Get in touch</a>
                        </p>
                    </div>
                </section>
			{%- endif -%}

			<section>
				<p data-variation="tiny">Designed and Developed by Daniel Hudson</p>
			</section>
		</footer>

		<script type="text/javascript" src="/js/app.js" defer></script>
	</body>
</html>
