<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title }} | {{site.name}}</title>
		<meta name="author" content="{{ site.authorName }}">
		<meta name="description" content="{{ description }}">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="stylesheet" href="/css/app.css" />
		<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
		<link rel="manifest" href="/assets/favicon/site.webmanifest">
		<link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg" color="#0a2239">
		<meta name="msapplication-TileColor" content="#0a2239">
		<meta name="theme-color" content="#0a2239">
	</head>

	<body>
        {% include 'site-header.njk' %}

		<main class="site-content">
			{{ content | safe }}
		</main>

        {% include 'site-footer.njk' %}

		<script type="text/javascript" src="/js/app.js" defer></script>
	</body>
</html>
