---
tags: service
layout: base.njk
description: There is meant to be a description here, but oops I forgot to do it, let me know if you want or not the choice is yours.
---
<header>

    <div class="container long-text">

        <h1 data-variation="hero">{{ title }}</h1>
        <p>{{ shortDescription }}</p>

    </div>

</header>

<div class="container long-text">
    {{ content | safe}}
</div>
