/**
* LAYOUT
**/

@mixin width-and-padding {
    max-width: $l-page-width;
    margin: 0 auto;
    padding-right: $l-spacing--small;
    padding-left: $l-spacing--small;

    @media (min-width: $b-medium) {
        padding-right: $l-spacing--large;
        padding-left: $l-spacing--large;
    }
}